<div class="login-wrapper">
  <div class="card">
    <div class="text-center">
      <h1>Reset Password</h1>
      <h5>Provide your details below to reset your password</h5>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Email address">
      </div>

      <div class="mb-3">
        <label class="form-label">Mobile Number</label>
        <input formControlName="mobile" type="text" class="form-control" placeholder="10-digit mobile number">
      </div>

      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control" placeholder="New strong password">
      </div>

      <button type="submit" class="btn btn-warning" style="width: 100%; border-radius: 8px;">Reset Password</button>
    </form>

    <a style="color: blue; margin-top: 15px; cursor: pointer; display: block; text-align: center;" routerLink="/login">
      Back to Login
    </a>
  </div>
</div>
